body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
input[type="number"] {
    padding: 8px;
    font-size: 16px;
    width: 80px;
    margin: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.hidden{
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    width: 350px; 
}

.rimg {
    width: 96px;
    height: 128px;
    object-fit: contain;
    margin-right: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.head {
    font-weight: 500;
    font-size: 24px; 
    line-height: 1.2;
    color: #003366; 
}

.sub {
    font-size: 16px;
    color: #666666;
}
