.topimg {
    max-width: 30%;
    min-width: 1%;
    height:auto;
    place-self: center;
}
.midimg {
    max-width: 50%;
    min-width: 1%;
    height:auto;
    place-self: center;
}
.centertext {
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;

}
.stick-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.acard{
    padding-bottom: 60px;
}

.hidden {
    display: none;
 }
.centerbutton{
    margin: auto;
    width: 50%;
    padding: 10px;
}